<div class="card mt-3">

    <div class="card-header">

        <div class="d-flex justify-content-end">

            <button *ngIf="allowedRoles.includes(role)" (click)="createSolicitud()" class="btn btn-primary">
                <i class="fas fa-plus-circle"></i>
                Nueva solicitud
            </button>

            <button data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false"
                class="btn btn-secondary ml-3">
                <i class="fas fa-filter"></i>
                Filtros
            </button>

            <button *ngIf="role!= 'CREATOR' " (click)="goPresupuesto()" class="btn btn-secondary ml-3">
                <i class="fas fa-funnel-dollar"></i>
                Presupuesto
            </button>
        </div>

        <div class="collapse mt-3" id="collapseFilter">

            <form [formGroup]="filterForm">
                <div class="row">

                    <div class="col-sm-12 col-md-2">
                        <div class="form-group">
                            <ng-select formControlName="criterio" [clearable]="false" placeholder="Criterio de búsqueda"
                                (change)="onChangeCriterio($event)" [items]="criterios" bindValue="criterio"
                                bindLabel="nombre">
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-2">
                        <div class="form-group">
                            <ng-select readonly="true" #selectEstatus (clear)="onClearSelectStatus()"
                                (change)="onChangeSelectEstatus($event)" placeholder="Estatus de la solicitud"
                                [items]="estatus" bindValue="id" bindLabel="nombre">
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-sm-8 col-md">
                        <div class="form-group">
                            <input #inputAux (keyup)="onKeyUp()" class="form-control" placeholder="Búsqueda..."
                                type="text">

                            <input class="form-control" #inputPalabra formControlName="palabra"
                                placeholder="none visible" type="hidden" name="palabra">
                        </div>
                    </div>

                    <div class="col-sm-2 col-md-1">
                        <div class="form-group">
                            <button (click)="search()" class="btn btn-primary btn-block">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-2 col-md-1">
                        <div class="form-group">

                            <button (click)="limpiar()" class="btn btn-outline-primary btn-block">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                    </div>


                </div>

            </form>

        </div>

    </div>

    <div class="card-body">

        <!-- <div *ngIf="solicitudes.length < 1" class="d-flex justify-content-center align-items-center">
            <h5>Sin registros aún</h5>
        </div> -->

        <table *ngIf="solicitudes.length > 0" class="table table-striped table-hover table-sort table-sm "
            style="font-size: 14px;">
            <thead>
                <tr>
                    <th class="text-center align-middle" (click)="sort('id')">N. Solicitud
                        &nbsp;<i class="fas fa-sort text-muted"></i>
                    </th>

                    <th (click)="sort('fecha_solicitud')" class="text-center align-middle">Fecha de la solicitud
                        &nbsp;<i class="fas fa-sort text-muted"></i>
                    </th>

                    <th class="align-middle" (click)="sort('nombre')">Nombre
                        &nbsp;<i class="fas fa-sort text-muted"></i>
                    </th>

                    <th class="text-center align-middle" (click)="sort('zona')">Zona
                        &nbsp;<i class="fas fa-sort text-muted"></i>
                    </th>
                    <th class="text-center align-middle" (click)="sort('agencia')">Agencia
                        &nbsp;<i class="fas fa-sort text-muted"></i>
                    </th>
                    <th class="text-center align-middle" (click)="sort('nombre')">Monto
                        &nbsp;<i class="fas fa-sort text-muted"></i>
                    </th>

                    <th class="text-center align-middle" (click)="sort('estatus')">Estatus
                        &nbsp;<i class="fas fa-sort text-muted"></i>
                    </th>
                    <th colspan="3" class="text-center align-middle" style="cursor: default;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="align-middle"
                    *ngFor="let solicitud of solicitudes | orderBy: key: reverse | paginate : { itemsPerPage: itemsPP, currentPage: p } ; let i = index;  ">
                    <td class="align-middle text-center" style="min-width: 120px;">{{solicitud?.id}}</td>
                    <td class="align-middle text-center" style="min-width: 120px;">{{solicitud?.fecha_solicitud |
                        date:'dd/MM/yyyy' : '+0100' }}</td>
                    <td class="align-middle" style="min-width: 200px;">{{solicitud?.nombre_completo}}</td>

                    <td class="text-center align-middle" style="min-width: 100px;">{{solicitud?.zona}}</td>
                    <td class="text-center align-middle" style="min-width: 100px;">{{solicitud?.agencia}}</td>
                    <td class="text-right align-middle">${{solicitud?.monto | number:'1.2-2':'en-US'}}</td>

                    <td class="align-middle text-center">


                        <!-- SOLICITUDES IDS:

                        ABIERTA-1
                        APROBADA-5 
                        RECHAZADA-2
                        ENVIADA A REVISIÓN-3
                        AUTORIZADA PARA PRESUPUESTO-6
                        APROBADA PARA ENTREGA 7
                    -->

                        <span class="badge badge-primary" *ngIf="solicitud.estatus_sol_id === 7; else elseBlock">
                            {{solicitud?.estatus}}
                        </span>

                        <ng-template #elseBlock>

                            <span class="badge badge-warning" *ngIf="solicitud.estatus_sol_id === 3; else elseBlock3">
                                {{solicitud?.estatus}}
                            </span>

                            <ng-template #elseBlock3>

                                <span class="badge badge-danger"
                                    *ngIf="solicitud.estatus_sol_id === 2; else elseBlock4">
                                    {{solicitud?.estatus}}
                                </span>

                                <ng-template #elseBlock4>

                                    <span *ngIf="solicitud.estatus_sol_id === 5; else elseBlock5"
                                        class="badge badge-success">
                                        {{solicitud?.estatus}}
                                    </span>

                                    <ng-template #elseBlock5>

                                        <span *ngIf="solicitud.estatus_sol_id === 6; else elseBlock6"
                                            class="badge badge-cyan">
                                            {{solicitud?.estatus}}
                                        </span>

                                        <ng-template #elseBlock6>

                                            <span class="badge badge-indigo">{{solicitud?.estatus}}</span>

                                        </ng-template>

                                    </ng-template>


                                </ng-template>



                            </ng-template>



                        </ng-template>

                    </td>

                    <td class="text-center align-middle">
                        <button class="btn btn-outline-primary none" type="button" (click)="viewSolicitud(solicitud)">
                            <i class="fas fa-search"></i>
                        </button>
                    </td>

                    <td class="text-center align-middle">
                        <button *ngIf=" solicitud?.estatus === 'ABIERTA' && (role === 'CREATOR' || role === 'ADMIN' ) " class="btn btn-outline-secondary none"
                            (click)="editSolicitud(solicitud)" type="button">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>

                    <td class="text-center align-middle">
                        <button *ngIf="solicitud?.estatus === 'ABIERTA' && (role === 'CREATOR' || role === 'ADMIN' ) " (click)="deleteSolicitud(solicitud)"
                            class="btn btn-outline-danger none" type="button">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>

                    <!-- <td class="text-center" style="font-size: 17px;">

                        <div class="dropdown">
                            <button style="border: none;" type="button"
                                class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">

                                <button class="dropdown-item" type="button" (click)="viewSolicitud(solicitud)">
                                    <i class="fas fa-search mr-2"></i> Ver
                                </button>
                                <button *ngIf="solicitud.estatus=='ABIERTA' " (click)="editSolicitud(solicitud)"
                                    class="dropdown-item" type="button">
                                    <i class="fas fa-edit mr-2"></i> Editar
                                </button>
                                <button *ngIf="solicitud.estatus=='ABIERTA' " (click)="deleteSolicitud(solicitud)"
                                    class="dropdown-item text-danger" type="button">
                                    <i class="fas fa-trash mr-2"></i> Eliminar
                                </button>
                            </div>
                        </div>

                    </td> -->
                </tr>
            </tbody>
        </table>

        <div *ngIf="solicitudes.length > 0"
            class="text-center card-footer d-flex justify-content-center align-items-center">
            <span class="mr-3">
                Items por página:
            </span>
            <ng-select [(ngModel)]="selectedItem" (change)="cambiaItems($event)" style="width: 80px;"
                [clearable]="false" [searchable]="false" [items]="items" bindValue="cant" bindLabel="cant"></ng-select>
            <pagination-controls class="pt-3" previousLabel="Anterior" nextLabel="Siguiente" responsive="true"
                (pageChange)="p = $event">
            </pagination-controls>
        </div>

    </div>

</div>