
<!-- <button class="btn btn-link p-0" (click)="volver()">
    <i style="font-size: 33px;" class="fas fa-arrow-left fw-bold"></i>
</button> -->

<form [formGroup]="roleForm">

    <div class="formularioCard card card-default rounded-0 mb-0">

        <div class="card-header bg-primary">
            <h5  class="card-title">
                <b>
                    <span *ngIf="!editingRole else editRole">Crear rol</span>
                    <ng-template #editRole>
                        <span>Editar rol</span>
                    </ng-template>
                </b>
            </h5>
        </div>

        <div class="card-body mb-4" style="display: block;">

            <div class="row">

                <div class="col-sm-4 col-md-6">
                    <div class="form-group">
                        <label for="nombreInput">Nombre</label>
                        <input id="nombreInput" formControlName="nombre" 
                            type="text" class="form-control text-uppercase">
                    </div>
                </div>

                <div class="col-sm-4 col-md-6">
                    <div class="form-group">
                        <label for="apellidoPaternoInput">Descripción del rol</label>
                        <textarea id="apellidoMaternoInput" formControlName="descripcion" 
                            type="text" class="form-control text-uppercase"></textarea>
                    </div>
                </div>

            </div>

            <button type="button" [disabled]="!roleForm.valid" (click)="saveRole()" class="btn btn-success mt-4">
                <i class="fas fa-save"></i>
                Guardar</button>

        </div>

    </div>

</form>