<div class="card mt-3">

    <div class="card-header">

        <div class="row">

            <div class="col-md-8">
                <label for="">&nbsp;</label>
                <input class="form-control" (input)="buscarElementos($event.target.value)" type="text"
                    placeholder="Búsqueda por N. de Crédito, Nombre">

            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="inputDate">Fecha inicio:</label>
                    <input 
                        id="inputDate" 
                        #inputFechaInicio
                        (change)="onChangeFechaInicio($event, inputFechaInicio)"
                        class="form-control" type="date">
                </div>
            </div>

            <div class="col-md-2">
                <div class="d-flex align-items-center justify-content-center my-auto">
                    <button 
                        (click)="printCreditos()"
                        class="btn btn-secondary" 
                        style="margin-top: 30px;">
                            <i class="fas fa-file-export"></i> Exportar
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="card-body">

        <!-- <div *ngIf="solicitudes.length < 1" class="d-flex justify-content-center align-items-center">
            <h5>Sin registros aún</h5>
        </div> -->

        <table *ngIf="creditos.length > 0"
            class="table table-striped table-sort table-hover table-sm table-responsive-lg" style="font-size: 14px;">

            <thead>
                <tr>

                    <th class='text-center'>N. de crédito

                    </th>
                    <th>Nombre

                    </th>
                    <th class="text-center">Zona

                    </th>
                    <th class="text-center">Agencia

                    </th>
                    <th class="text-center">Monto

                    </th>
                    <th class="text-center">
                        Estatus

                    </th>

                    <th class="text-center">Estatus 2
                    </th>

                    <th class="text-center">
                    </th>

                    <th class="text-center">
                        Entregado
                    </th>
                    <th class="text-center">N. cheque</th>

                    <th style="width: 5px; margin-left: 0px; margin-right: 0px; padding-left: 0; padding-right: 0px;"
                        class="text-center">
                    </th>
                    <th style="width: 5px; margin-left: 0px; margin-right: 0px; padding-left: 0; padding-right: 0px;"
                        class="text-center">
                    </th>
                    <th style="width: 5px; margin-left: 0px; margin-right: 0px; padding-left: 0; padding-right: 0px;"
                        class="text-center">
                    </th>

                    <!-- <th class="text-center" style="cursor: default;">Acciones</th> -->
                </tr>
            </thead>
            <tbody>
                <tr class="align-middle"
                    *ngFor="let credito of creditos | orderBy: key: reverse   ; let i = index;  ">
                    <td class="align-middle text-center" style="min-width: 120px;">{{credito?.num_contrato}}</td>
                    <td class="align-middle" style="min-width: 200px;">{{credito?.nombre_completo}}</td>
                    <td class="align-middle text-center" style="min-width: 100px;">{{credito?.zona}}</td>
                    <td class="align-middle text-center" style="min-width: 100px;">{{credito?.agencia}}</td>
                    <td class="align-middle text-right">${{credito?.monto_otorgado | number:'1.2-2':'en-US' }}</td>

                    <td class="align-middle text-center" style="min-width: 100px;">
                        <span class="badge badge-success"
                            *ngIf="credito?.estatus_contrato === 'VIGENTE' ">{{credito?.estatus_contrato}}</span>

                        <span class="badge badge-secondary" *ngIf="credito?.estatus_contrato !='VIGENTE'; ">
                            {{credito?.estatus_contrato}}
                        </span>

                    </td>

                    <td class="align-middle text-center" style="min-width: 100px;">

                        <span class="badge badge-success"
                            *ngIf="credito?.estatus_credito==='LIQUIDADO'; else elseBlockEstatus">
                            {{credito?.estatus_credito}}
                        </span>

                        <span class="badge badge-primary" *ngIf="credito?.estatus_credito==='VIGENTE'; ">
                            {{credito?.estatus_credito}}
                        </span>

                        <span class="badge badge-primary" *ngIf="credito?.estatus_credito==='SIN LIQUIDAR'; ">
                            {{credito?.estatus_credito}}
                        </span>

                        <span class="badge badge-danger" *ngIf="credito?.estatus_credito==='JURÍDICO'; ">
                            {{credito?.estatus_credito}}
                        </span>

                        <span class="badge badge-info" *ngIf="credito?.estatus_credito==='CONVENIO'; ">
                            {{credito?.estatus_credito}}
                        </span>

                        <span class="badge badge-light" *ngIf="credito?.estatus_credito==='NO DEFINIDO'; ">
                            {{credito?.estatus_credito}}
                        </span>



                    </td>

                    <td class="align-middle text-center">

                        <span class="badge badge-secondary" *ngIf="credito?.locked == 1;">
                            <i class="fas fa-print"></i>
                        </span>

                    </td>

                    <td class="text-center align-middle">
                        <ng-container *ngIf=" credito?.entregado === 1;">
                            <i style="font-size: 18px;" class="fas fa-check-circle text-success"></i>
                        </ng-container>
                        <ng-container *ngIf="credito?.no_entregado === 1;">
                            <i style="font-size: 18px;" class="fas fa-times-circle text-danger"></i>
                        </ng-container>
                        <ng-container *ngIf="credito.entregado != 1 && credito.no_entregado != 1">
                            {{credito.no_entregado}}
                            <i style="font-size: 18px;" class="fas fa-minus-circle text-primary"></i>
                        </ng-container>
                    </td>
                    <td class="text-center align-middle" style="min-width: 100px;">{{credito?.num_cheque}}</td>

                    <td class="text-center">
                        <button (click)="viewCredito(credito)" style="border: none;" class="btn btn-outline-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </td>

                    <td class="text-center">
                        <button *ngIf="credito?.fecha_entrega_prog && credito?.fecha_inicio_prog"
                            (click)="printAllDocumentation(credito)" style="border: none;"
                            class="btn btn-outline-secondary">
                            <i class="fas fa-print"></i>
                        </button>
                    </td>
                    <!-- <td>
                        <button *ngIf="credito?.locked !=1" (click)="editCredito(credito)" style="border: none;"
                            class="btn btn-outline-secondary"><i class="fas fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button *ngIf="credito?.locked !=1" (click)="deleteCredito(credito)" style="border: none;"
                            class="btn btn-outline-danger"><i class="fas fa-trash"></i>
                        </button>
                    </td> -->

                    <td class="text-center" style="font-size: 17px;">

                        <!-- <div class="dropdown" *ngIf="credito?.locked !=1">

                            <button style="border: none;" type="button"
                                class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>

                            <div class="dropdown-menu dropdown-menu-right">
                                
                                <button (click)="viewCredito(credito)" class="dropdown-item" type="button">
                                    <i class="fas fa-search mr-2"></i> Ver
                                </button>
                                <button (click)="editCredito(credito)" class="dropdown-item" type="button">
                                    <i class="fas fa-edit mr-2"></i> Editar
                                </button>

                                <button (click)="deleteCredito(credito)" class="dropdown-item text-danger"
                                    type="button">
                                    <i class="fas fa-trash mr-2"></i> Eliminar
                                </button>
                            </div>
                        </div> -->

                    </td>
                </tr>
            </tbody>
        </table>


    </div>
    <div class="card-footer clearfix text-center">

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                <li class="page-item" [class.disabled]="currentPage === 1" *ngIf="totalPages > 1">
                    <a class="page-link" (click)="goToFirstPage()" aria-label="Primera página">
                        <span aria-hidden="true">Primera</span>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === 1" *ngIf="totalPages > 1">
                    <a class="page-link" (click)="goToPage(currentPage - 1)" aria-label="Anterior">
                        <span aria-hidden="true">Anterior</span>
                    </a>
                </li>
                <li class="page-item" *ngFor="let page of generatePageRange()" [class.active]="currentPage === page">
                    <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages " *ngIf="totalPages > 1">
                    <a class="page-link" (click)="goToPage(currentPage + 1)" aria-label="Siguiente">
                        <span aria-hidden="true">Siguiente</span>
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages " *ngIf="totalPages > 1">
                    <a class="page-link" (click)="goToPage(totalPages)" aria-label="Última página">
                        <span aria-hidden="true">Última</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

</div>