
<!-- <button class="btn btn-link p-0" (click)="volver()">
    <i style="font-size: 33px;" class="fas fa-arrow-left fw-bold"></i>
</button> -->

<form [formGroup]="grupoUsuarioForm">

    <div class="formularioCard card card-default rounded-0 mb-0">

        <div class="card-header bg-primary">
            <h5  class="card-title">
                <b>
                    <span *ngIf="!editingGrupoUsuario else editGrupoUsuario">Crear grupo de usuario</span>
                    <ng-template #editGrupoUsuario>
                        <span>Editar grupo de usuario</span>
                    </ng-template>
                </b>
            </h5>
            <div class="card-tools">
                <!-- <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button> -->
            </div>
        </div>

        <div class="card-body mb-4" style="display: block;">
    

            <div class="row">

                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="nombreInput">Nombre</label>
                        <input id="nombreInput" formControlName="nombre" 
                            type="text" class="form-control">
                    </div>
                </div>

                <div class="col-sm-8 col-md-8">
                    <div class="form-group">
                        <label for="descripcionInput">Descripción</label>
                        <input id="descripcionInput" formControlName="descripcion" 
                            type="text" class="form-control">
                    </div>
                </div>

            </div>

            <button (click)="saveGrupoUsuario()" class="btn btn-success mt-4">Guardar</button>

        </div>

    </div>

</form>