

<!-- <button class="btn btn-link p-0" (click)="volver()">
    <i style="font-size: 33px;" class="fas fa-arrow-left fw-bold"></i>
</button> -->

<form [formGroup]="tarifaForm">

    <div class="formularioCard card card-default rounded-0 mb-0">

        <div class="card-header bg-primary">
            <h5  class="card-title">
                <b>
                    <span *ngIf="!editingTarifa else editTarifa">Crear tarifa</span>
                    <ng-template #editTarifa>
                        <span>Editar tarifa</span>
                    </ng-template>
                </b>
            </h5>
        </div>

        <div class="card-body mb-4" style="display: block;">

            <div class="row">

                <div class="col-sm-4 col-md-6">
                    <div class="form-group">
                        <label for="nombreInput">Nombre</label>
                        <input id="nombreInput" formControlName="nombre" 
                            type="text" class="form-control text-uppercase">
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="form-group">
                        <label for="numSemanasInput">Número de semanas</label>
                        <input id="numSemanasInput" formControlName="num_semanas" 
                            type="number" class="form-control text-uppercase">
                    </div>
                </div>

                <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                        <label>Cociente</label>
                        <div class="input-group">
                            <input formControlName="cociente" type="number" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <button type="button" [disabled]="!tarifaForm.valid" (click)="saveTarifa()" class="btn btn-success mt-4">
                <i class="fas fa-save"></i>
                Guardar</button>

        </div>

    </div>

</form>