<div class="card card-default rounded-0 mb-0 mt-3">


    <div class="card-header bg-primary">

        <h5 class="card-title">
            <b>Datos del cliente</b>
        </h5>

        <!-- <div class="d-flex justify-content-end">

            <button data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false"
                class="btn btn-secondary ml-3">
                <i class="fas fa-filter"></i>
                Filtros
            </button>

        </div> -->

        <!-- <div class="collapse mt-3" id="collapseFilter">
            <form [formGroup]="filterForm">
                <div class="row">

                    <div class="col-sm-12 col-md-2">
                        <div class="form-group">
                            <ng-select formControlName="criterio" [clearable]="false" placeholder="Criterio de búsqueda"
                                (change)="onChangeCriterio($event)" [items]="criterios" bindValue="criterio"
                                bindLabel="nombre">
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-2">
                        <div class="form-group">
                            <ng-select readonly="true" #selectEstatus (clear)="onClearSelectStatus()"
                                (change)="onChangeSelectEstatus($event)" placeholder="Estatus del crédito"
                                [items]="estatus" bindValue="id" bindLabel="nombre">
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md">
                        <div class="form-group">
                            <input #inputAux (keyup)="onKeyUp()" class="form-control" placeholder="Búsqueda..."
                                type="text">

                            <input class="form-control" #inputPalabra formControlName="palabra"
                                placeholder="none visible" type="hidden" name="palabra">
                        </div>
                    </div>

                    <div class="col-sm-2 col-md-1">
                        <div class="form-group">
                            <button (click)="search()" class="btn btn-primary btn-block">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-2 col-md-1">
                        <div class="form-group">

                            <button (click)="limpiar()" class="btn btn-outline-primary btn-block">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                    </div>

                </div>

            </form>
        </div> -->

    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-sm-3 fw-bold">N. cliente:</div>
            <div class="col-9">
                {{cliente?.num_cliente2}}
            </div>
            <div class="col-sm-3 fw-bold">Nombre:</div>
            <div class="col-9">
                {{cliente?.nombre_completo}}
            </div>
        </div>

        <div class="row">
            <div class="col fw-bold">Zona:</div>
            <div class="col">
                {{cliente?.zona}}
            </div>
            <div class="col fw-bold">Agencia:</div>
            <div class="col">
                {{cliente?.agencia}}
            </div>
        </div>

        <!-- <table class="table">
            <tbody>
                <tr>
                    <td style="width: 150px;">
                        <span class="fw-bold">N. cliente:</span>
                    </td>
                    <td>{{cliente?.num_cliente2}}</td>
                    <td style="width: 150px;">
                        <span class="fw-bold">Nombre:</span>
                    </td>
                    <td>{{cliente?.nombre_completo}}</td>
                </tr>
                <tr>
                    <td style="width: 150px;">
                        <span class="fw-bold">Zona</span>
                    </td>
                    <td>{{cliente?.zona}}</td>
                    <td style="width: 150px;">
                        <span class="fw-bold">Agencia:</span>
                    </td>
                    <td>{{cliente?.agencia}}</td>
                </tr>
            </tbody>
        </table> -->
    </div>

    <hr>

    <div class="card-body">

        <div *ngIf="creditos.length < 1" class="d-flex justify-content-center align-items-center">
            <h5>Este cliente no tiene contratos aún</h5>
        </div>

        <table *ngIf="creditos.length > 0"
            class="table table-striped table-sort table-hover table-sm table-responsive-lg" style="font-size: 14px;">
            <thead>
                <tr>

                    <th class='text-center' (click)="sort('id')">N. de crédito
                        &nbsp;<i class="fas fa-sort text-muted"></i>
                    </th>
                    <th class="text-center" (click)="sort('monto_otorgado')">Monto
                        &nbsp;<i class="fas fa-sort text-muted"></i>
                    </th>
                    <th class="text-center">Estatus

                    </th>

                    <th class="text-center" (click)="sort('estatus_credito')">Estatus 2
                        &nbsp;<i class="fas fa-sort text-muted"></i>
                    </th>

                    <th class="text-center">
                    </th>

                    <th style="min-width: 120px" class="text-center" (click)="sort('entregado')">Entregado
                        &nbsp;<i class="fas fa-sort text-muted"></i>
                    </th>
                    <th class="text-center">N. cheque</th>

                    <th class="text-center" colspan="c">Acciones</th>

                    <!-- <th class="text-center" style="cursor: default;">Acciones</th> -->
                </tr>
            </thead>
            <tbody>
                <tr class="align-middle"
                    *ngFor="let credito of creditos | orderBy: key: reverse | paginate : { itemsPerPage: itemsPP, currentPage: p } ; let i = index;  ">
                    <td class="align-middle text-center" style="min-width: 120px;">{{credito?.num_contrato}}</td>
                    <td class="align-middle text-right">${{credito?.monto_otorgado | number:'1.2-2':'en-US' }}</td>

                    <td style="min-width: 100px;">
                        <span>{{credito?.estatus_contrato}}</span>
                    </td>

                    <td class="align-middle text-center" style="min-width: 100px;">

                        <span class="badge badge-primary"
                            *ngIf="credito?.estatus_credito=='LIQUIDADO'; else elseBlockEstatus">
                            {{credito?.estatus_credito}}
                        </span>

                        <span class="badge badge-warning" *ngIf="credito?.estatus_credito=='SIN LIQUIDAR'; ">
                            {{credito?.estatus_credito}}
                        </span>

                    </td>

                    <td class="align-middle text-center">

                        <span class="badge badge-secondary" *ngIf="credito?.locked == 1;">
                            <i class="fas fa-print"></i>
                        </span>

                    </td>

                    <td class="text-center align-middle">

                        <ng-container *ngIf=" credito?.entregado === 1;">
                            <i style="font-size: 18px;" class="fas fa-check-circle text-success"></i>
                        </ng-container>
                        <ng-container *ngIf="credito?.no_entregado === 1;">
                            <i style="font-size: 18px;" class="fas fa-times-circle text-danger"></i>
                        </ng-container>
                        <ng-container *ngIf="credito.entregado != 1 && credito.no_entregado != 1">
                            {{credito.no_entregado}}
                            <i style="font-size: 18px;" class="fas fa-minus-circle text-primary"></i>
                        </ng-container>

                    </td>
                    <td class="text-center align-middle" style="min-width: 100px;">{{credito?.num_cheque}}</td>

                    <td class="text-center">
                        <button (click)="viewCredito(credito)" style="border: none;" class="btn btn-outline-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </td>

                    <td class="text-center">
                        <button *ngIf="credito?.fecha_entrega_prog && credito?.fecha_inicio_prog"
                            (click)="printAllDocumentation(credito)" style="border: none;"
                            class="btn btn-outline-secondary">
                            <i class="fas fa-print"></i>
                        </button>
                    </td>
                    <td class="text-center" style="font-size: 17px;">
                    </td>

                </tr>
            </tbody>
        </table>

        <div *ngIf="creditos.length > 0"
            class="text-center card-footer d-flex justify-content-center align-items-center">
            <span class="mr-3">
                Items por página:
            </span>
            <ng-select [(ngModel)]="selectedItem" (change)="cambiaItems($event)" style="width: 80px;"
                [clearable]="false" [searchable]="false" [items]="items" bindValue="cant" bindLabel="cant"></ng-select>
            <pagination-controls class="pt-3" previousLabel="Anterior" nextLabel="Siguiente" responsive="true"
                (pageChange)="p = $event">
            </pagination-controls>
        </div>

    </div>

</div>