<!-- <button class="btn btn-link p-0" (click)="volver()">
    <i style="font-size: 33px;" class="fas fa-arrow-left fw-bold"></i>
</button> -->

<div class="p-3">
    <form [formGroup]="reporteForm">

        <div class="formularioCard card card-default rounded-0 mb-0">
    
            <div class="card-header bg-primary">
                <h5 class="card-title">
                    <b>
                        <span>Generar Reporte</span>
                    </b>
                </h5>
            </div>
    
            <div class="card-body mb-4" style="display: block;">
    
                <div class="row">
    
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label for="inputCredito">N. de Semana</label>
                            <ng-select #selectWeekyear [items]="semanas"
                                bindLabel="weekyear" formControlName="weekyear2" [clearable]="false"
                                placeholder="Seleccione una semana correspondiente" bindValue="id">
                            </ng-select>
                            <input type="hidden" formControlName="weekyear">
                        </div>
                    </div>
    
                    
    
                </div>
    
    
                <button type="button" (click)="printWeek()" class="btn btn-success mt-4">
                    <i class="fas fa-save"></i>
                    Generar Reporte</button>
    
    
            </div>
    
        </div>
    
    </form>
</div>