<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->



  <a href="#" class="brand-link">

    <!-- <img src="../../../assets/images/proyecta_logo1.png" alt="AdminLTE Logo" class="brand-image"
      style="opacity: .8"> -->

    <div id="logo1" class="logoShort abierto">
      <img style="height: 55px;" src="../../../assets/images/proyecta_logo1.png" alt="">
    </div>


    <span id="logo2" class="brand-text font-weight-light cerrado">
      <img src="../../../assets/images/proyecta_logo2.png" style="width: 200px;" alt="">
    </span>

  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="./assets/dist/img/blank_profile.png" class="img-circle elevation-2" alt="User Image">
      </div>

      <div class="info">
        <a href="#" class="d-block">{{nombreUsuario}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" 
      role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview" *ngFor="let item of menuItems">
          <a *ngIf="item?.role?.includes(role)" href="#" class="nav-link ">
            <i class="{{item.icono}}"></i>
            <p class="ml-2">
              {{item.titulo}}
              <!-- <span class="badge badge-primary ml-2">{{item.submenu.length}}</span> -->
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item" *ngFor="let subMenuItem of item.submenu">
              <a [routerLink]="subMenuItem.url" class="nav-link" style="cursor: pointer;">
                <i class={{subMenuItem.icon}}></i>
                <p class="ml-2">{{subMenuItem.titulo}}</p>
              </a>
            </li>

          </ul>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" (click)="logOut()" class="nav-link ">
            <i class="fas fa-sign-out-alt"></i>
            <p class="ml-2">
              Cerrar sesión
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>