

<!-- <button class="btn btn-link p-0" (click)="volver()">
    <i style="font-size: 33px;" class="fas fa-arrow-left fw-bold"></i>
</button> -->

<form [formGroup]="tipoAsentamientoForm">

    <div class="formularioCard card card-default rounded-0 mb-0">

        <div class="card-header bg-primary">
            <h5  class="card-title">
                <b>
                    <span *ngIf="!editingTipoAsentamiento else editTipoAsentamiento">Crear tipo de asentamiento</span>
                    <ng-template #editTipoAsentamiento>
                        <span>Editar tipo de asentamiento</span>
                    </ng-template>
                </b>
            </h5>
        </div>

        <div class="card-body mb-4" style="display: block;">

            <div class="row">

                <div class="col-sm-8 col-md-8">
                    <div class="form-group">
                        <label for="nombreInput">Nombre</label>
                        <input id="nombreInput" formControlName="nombre" 
                            type="text" class="form-control text-uppercase">
                    </div>
                </div>

                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="abreviaturaInput">Abreviatura</label>
                        <input id="abreviaturaInput" formControlName="abreviatura" 
                            type="text" class="form-control text-uppercase">
                    </div>
                </div>

            </div>

            <button (click)="saveTipoAsentamiento()" class="btn btn-success mt-4">
                <i class="fas fa-save"></i>&nbsp;Guardar</button>
        </div>

    </div>

</form>