<!-- <button class="btn btn-link p-0" (click)="volver()">
    <i style="font-size: 33px;" class="fas fa-arrow-left fw-bold"></i>
</button> -->

<form [formGroup]="pagoForm">

    <div class="formularioCard card card-default rounded-0 mb-0">

        <div class="card-header bg-primary">
            <h5 class="card-title">
                <b>
                    <span *ngIf="!editingPago else editPago">Crear pago</span>
                    <ng-template #editPago>
                        <span>Cancelar pago</span>
                    </ng-template>
                </b>
            </h5>
        </div>

        <div class="card-body mb-4" style="display: block;">

            <div class="row">

                <div class="col-sm-6 col-md-2">
                    <div class="form-group">
                        <label for="inputCredito">N. de Semana</label>
                        <ng-select #selectWeekyear [items]="semanas"
                            bindLabel="weekyear" formControlName="weekyear2" [clearable]="false"
                            placeholder="Seleccione una semana correspondiente" bindValue="weekyear">
                        </ng-select>
                        <input type="hidden" formControlName="weekyear">
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="form-group">
                        <label>Fecha</label>
                        <div class="input-group">
                            <input formControlName="fecha" type="date" class="form-control" [readonly]="readonlyMode">
                        </div>
                    </div>
                </div>

                

            </div>

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label for="inputCredito">N. de credito | N. de Cliente | Cliente</label>
                        <ng-select #selectCredito (change)="onChangeCredito($event)" class="text-uppercase" [items]="creditos"
                            formControlName="credito_id" bindLabel="nombre" [clearable]="false"
                            placeholder="Seleccione un crédito" bindValue="id">
                        </ng-select>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="form-group">
                        <label for="inputFolio">Folio</label>
                        <input class="form-control" formControlName="folio" [readonly]="readonlyMode">
                    </div>
                </div>

                

                <div class="col-sm-6 col-md-2">
                    <div class="form-group">
                        <label for="inputMontoTotal">Monto</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>

                            <input type="number" placeholder="0.00" formControlName="monto" [readonly]="readonlyMode"
                                class="form-control text-right">
                        </div>
                    </div>
                </div>

            </div>

            <div *ngIf="editingPago" class="row">

                <div class="col-sm-8 col-md-6">
                    <div class="form-group">
                        <label for="inputCredito">Motivo de la cancelación</label>
                        <textarea formControlName="observaciones" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                

            </div>


            <button *ngIf="!editingPago" type="button" [disabled]="!pagoForm.valid" (click)="confirmPago()" class="btn btn-success mt-4">
                <i class="fas fa-save"></i>
                Guardar</button>

            <button *ngIf="editingPago" type="button" [disabled]="!pagoForm.valid" (click)="confirmPago()" class="btn btn-danger mt-4">
                <i class="fas fa-save"></i>
                Cancelar Pago</button>

        </div>

    </div>

</form>