<div class="d-flex justify-content-end">
    <button (click)="createPago()" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i>
        Nuevo Pago
    </button>

    <!-- <button data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" class="btn btn-secondary ml-3">
        <i class="fas fa-filter"></i>
        Filtros
    </button> -->
</div>

<div class="card collapse mt-3" id="collapseFilter">
    <div class="row pt-3 pl-3 pr-3">

        <div class="col-sm-12 col-md-5">
            <div class="form-group">
                <ng-select [clearable]="false" placeholder="Criterio de búsqueda" (change)="getCriterio($event)"
                    [items]="criterios" bindValue="criterio" bindLabel="nombre">
                </ng-select>
            </div>
        </div>

        <div class="col-sm-8 col-md-5">
            <div class="form-group">
                <input class="form-control" placeholder="Búsqueda..." type="text" name="palabra" [(ngModel)]="palabra">
            </div>
        </div>

        <div class="col-sm-2 col-md-1">
            <div class="form-group">
                <button (click)="search()" class="btn btn-primary btn-block">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

        <div class="col-sm-2 col-md-1">
            <div class="form-group">

                <button (click)="limpiar()" class="btn btn-outline-primary btn-block">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>


    </div>



</div>

<div class="card mt-3">

    <div class="card-body">

        <table *ngIf="pagos.length > 0" class="table table-striped table-hover table-sort table-sm table-responsive-lg"
            style="font-size: 14px;">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center" (click)="sort('folio')">Folio
                        <i class="fas fa-sort text-muted"></i>
                    </th>

                    <th class="text-center" (click)="sort('credito')">N. Credito
                        <i class="fas fa-sort text-muted"></i>
                    </th>

                    <th (click)="sort('fecha')" style="width: 400px;;">Cliente
                        <i class="fas fa-sort text-muted"></i>
                    </th>

                    <th class="text-center" (click)="sort('fecha')">Fecha
                        &nbsp;<i class="fas fa-sort text-muted"></i>
                    </th>

                    <th (click)="sort('monto')" 
                    class="text-center">Monto
                        <i class="fas fa-sort text-muted"></i>
                    </th>

                    <!-- <th (click)="sort('metodo_pago')" class="text-center">Método de pago
                        &nbsp;<i class="fas fa-sort text-muted"></i>
                    </th> -->

                    <th class="text-center" (click)="sort('cancelado')">Estatus
                        &nbsp;<i class="fas fa-sort text-muted"></i>
                    </th>

                    <th colspan="2" class="text-center" style="cursor: default;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="align-middle"
                    *ngFor="let pago of pagos | orderBy: key: reverse   ; let i = index;  ">
                    <td></td>
                    <td class="align-middle text-center">{{pago?.folio}}</td>
                    <td class="align-middle text-center">{{pago?.num_contrato}}</td>
                    <td class="align-middle">{{pago?.cliente}}</td>
                    <td class="align-middle text-center ">{{pago?.fecha | date:'EEEE, dd/MM/yyyy':'+0100'}}</td>
                    <td class="align-middle text-right">
                        <span *ngIf="pago?.cancelado != 1; else PagoCancelado " style="font-weight: bold;"
                            class="text-primary">
                            ${{pago?.monto | number:'1.2-2':'en-US'}}
                        </span>
                        <ng-template #PagoCancelado>
                            <span class="text-danger" style="text-decoration: line-through;">
                                ${{pago?.monto | number:'1.2-2':'en-US'}}
                            </span>
                        </ng-template>
                    </td>
                    <!-- <td class="align-middle text-center">{{pago?.metodo_pago}}</td> -->
                    <td class="align-middle text-center ">
                        <span class="badge badge-danger" *ngIf="pago?.cancelado > 0">CANCELADO</span>
                    </td>

                    <td class="text-center">
                        <button (click)="viewPago(pago)" style="border: none;" class="btn btn-outline-secondary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </td>

                    <td class="text-center">
                        <button (click)="editPago(pago)" style="border: none;" class="btn btn-outline-danger" type="button">
                            <i class="fas fa-times"></i>
                        </button>
                    </td>



                    <!-- <td class="text-center" style="font-size: 17px;">

                        <div class="dropdown">

                            <button style="border: none;" type="button" 
                                class="btn btn-outline-secondary dropdown-toggle" 
                                aria-haspopup="true" aria-expanded="false"
                                data-toggle="dropdown">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>

                            <div class="dropdown-menu dropdown-menu-right">

                                <button (click)="viewPago(pago)" class="dropdown-item text-secondary"
                                    type="button">
                                    <i class="fas fa-search mr-2"></i> Ver
                                </button>

                                <button (click)="editPago(pago)" class="dropdown-item text-danger"
                                    type="button">
                                    <i class="fas fa-times mr-2"></i> Cancelar
                                </button>

                            </div>

                                  
                        </div>

                    </td> -->
                </tr>
            </tbody>
        </table>

        <div class="text-center card-footer d-flex justify-content-center align-items-center">
            <span class="mr-3">
                Items por página:
            </span>
            <ng-select [(ngModel)]="selectedItem" (change)="cambiaItems($event)" style="width: 80px;"
                [clearable]="false" [searchable]="false" [items]="items" bindValue="cant" bindLabel="cant"></ng-select>
            <pagination-controls class="pt-3" previousLabel="Anterior" nextLabel="Siguiente" responsive="true"
                (pageChange)="p = $event">
            </pagination-controls>
        </div>


    </div>

</div>