<div class="card mt-3">
    <div class="card-body">
        <div class="row" style="height: 80px">

            <div class="col-md-10 row mt-2">

                <div *ngIf="editingUsuario?.id" class="col-md-3 d-flex justify-content-center align-items-center">
                    <div class="avatar-image">
                        <img src="./assets/dist/img/blank_profile.png" alt="">
                    </div>
                </div>

                <div class="col-md-9" >
                    <div class="nombre">
                        {{labelNombre}}
                    </div>
                    <div class="text-muted subtitulo">{{editingUsuario?.email}}</div>
                    <div class="text-muted subtitulo">{{editingUsuario?.role_nombre}}</div>
                </div>
            </div>
            <div *ngIf="editingUsuario?.id" class="col-md d-flex justify-content-end align-items-start">
        
                
                <button style="border:none" (click)="volver()" class="btn btn-outline-primary btn-sm">
                    <i class="fas fa-arrow-left"></i>
                </button>

            </div>
        
        </div>
        <hr>
        <form [formGroup]="usuarioForm">
            <div>
                <div class="form-group row">
                    <label for="nombreInput" class="col-sm-3 col-form-label">Contraseña</label>
                    <div class="col-sm-9">
                        <input id="nombreInput" formControlName="password" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nombreInput" class="col-sm-3 col-form-label">Confirmar contraseña</label>
                    <div class="col-sm-9">
                        <input id="nombreInput" formControlName="password2" type="text"
                            class="form-control">
                    </div>
                </div>
         
            </div>
        
            <div class="row">
                <div class="col-9"></div>
                <div class="col">
                    <div class="d-flex justify-content-end">
                        <button type="button" [disabled]="!usuarioForm.valid" (click)="resetPassword()"
                            class="btn btn-success mt-4">
                            <i class="fas fa-save"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <router-outlet></router-outlet>
    </div>
</div>

<!-- 

<button class="btn btn-link p-0" (click)="volver()">
    <i style="font-size: 33px;" class="fas fa-arrow-left fw-bold"></i>
</button>

<form [formGroup]="usuarioForm">

    <div class="card card-default rounded-0 mb-0">

        <div class="card-header bg-primary">
            <h5  class="card-title">
                <b>
                    <span *ngIf="!editingUsuario else editUsuario"></span>
                    <ng-template #editUsuario>
                        <span>Cambiar contraseña</span>
                    </ng-template>
                </b>
            </h5>
        </div>

        <div class="card-body mb-4" style="display: block;">

            <div class="row">

                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="nombreInput">Nombre</label>
                        <input id="nombreInput" formControlName="nombre" 
                            type="text" class="form-control text-uppercase">
                    </div>
                </div>


            </div>

            <div class="row">

                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="nombreInput">Nueva contraseña</label>
                        <input id="nombreInput" formControlName="password" 
                            type="text" class="form-control">
                    </div>
                </div>

                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="apellidoPaternoInput">Confirmar contraseña</label>
                        <input id="apellidoMaternoInput" formControlName="password2" 
                            type="text" class="form-control">
                    </div>
                </div>


            </div>

            <button type="button" [disabled]="!usuarioForm.valid" (click)="resetPassword()" class="btn btn-success mt-4">
                <i class="fas fa-save"></i>
                Guardar</button>

        </div>

    </div>

</form> -->