<div class="p-3">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Dashboard</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
          <i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-6" *ngIf="submodulos_permitidos.includes('Clientes') ">
          <div class="small-box bg-info">
            <div class="inner" style="min-height: 150px;">
              <h3 class="contador"></h3>
              <span style="font-weight: bold; font-size: 18px;">Clientes</span>
              <div>&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
            </div>
            <div class="icon">
              <i class=" fas fa-users"></i>
            </div>
            <a href=".#/dashboard/clientes2" class="small-box-footer">
              Ir
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" *ngIf="submodulos_permitidos.includes('Solicitudes') ">
          <div class="small-box bg-warning">
            <div class="inner" style="min-height: 150px;">
              <h3 class="contador"></h3>
              <span style="font-weight: bold; font-size: 18px;">Solicitudes por modificar</span>
              <div>&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
            </div>
            <div class="icon">
              <i class=" fas fa-clipboard"></i>
            </div>
            <a href=".#/dashboard/solicitudes_modificar" class="small-box-footer">
              Ir
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" *ngIf="submodulos_permitidos.includes('Solicitudes') ">
          <div class="small-box bg-danger">
            <div class="inner" style="min-height: 150px;">
              <h3 class="contador"></h3>
              <span style="font-weight: bold; font-size: 18px;">Solicitudes</span>
              <div>&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
            </div>
            <div class="icon">
              <i class=" fas fa-clipboard"></i>
            </div>
            <a href=".#/dashboard/solicitudes" class="small-box-footer">
              Ir
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" *ngIf="submodulos_permitidos.includes('Aprobar Solicitudes')  ">
          <div class="small-box bg-warning">
            <div class="inner" style="min-height: 150px;">
              <h3 class="contador"></h3>
              <span style="font-weight: bold; font-size: 18px;">Solicitudes por aprobar</span>
              <div>&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
            </div>
            <div class="icon">
              <i class=" fas fa-clipboard"></i>
            </div>
            <a [routerLink]="['/dashboard/aprueba_solicitudes']" [queryParams]="{flag: 1}" class="small-box-footer">
              Ir
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" *ngIf="submodulos_permitidos.includes('Validación Presupuestal') ">
          <div class="small-box bg-danger">
            <div class="inner" style="min-height: 150px;">
              <h3 class="contador"></h3>
              <!-- <h3 class="contador">{{total_solicitudes_presup}}</h3> -->
              <span style="font-weight: bold; font-size: 18px;">Solicitudes para presupuesto</span>
              <div>&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
            </div>
            <div class="icon">
              <i class="fas fa-clipboard"></i>
            </div>
            <a href=".#/dashboard/solicitudes/presupuesto" class="small-box-footer">
              Ir
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" *ngIf="submodulos_permitidos.includes('Créditos') ">
          <div class="small-box bg-primary">
            <div class="inner" style="min-height: 150px;">
              <h3 class="contador"></h3>
              <!-- <h3 class="contador">{{total_creditos}}</h3> -->
              <span style="font-weight: bold; font-size: 18px;">Créditos&nbsp;&nbsp;</span>
              <div>&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
            </div>
            <div class="icon">
              <i class="fas fa-file-contract"></i>
            </div>
            <a href=".#/dashboard/creditos2" class="small-box-footer">
              Ir
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" *ngIf="submodulos_permitidos.includes('Programar Entregas') ">
          <div class="small-box bg-primary">
            <div class="inner" style="min-height: 150px;">
              <h3 class="contador"></h3>
              <span style="font-weight: bold; font-size: 18px;">Créditos para prog. entrega</span>
              <div>&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
            </div>
            <div class="icon">
              <i class="fas fa-file-contract"></i>
            </div>
            <a href=".#/dashboard/programar_entregas" class="small-box-footer">
              Ir
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" *ngIf="submodulos_permitidos.includes('Capturar Entregas') ">
          <div class="small-box bg-primary">
            <div class="inner" style="min-height: 150px;">
              <h3 class="contador"></h3>
              <span style="font-weight: bold; font-size: 18px;">Créditos para capturar entrega</span>
              <div>&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
            </div>
            <div class="icon">
              <i class="fas fa-file-contract"></i>
            </div>
            <a href=".#/dashboard/capturar_entregas" class="small-box-footer">
              Ir
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" *ngIf="submodulos_permitidos.includes('Pagos') ">
          <div class="small-box bg-success">
            <div class="inner" style="min-height: 150px;">
              <h3 class="contador"></h3>
              <span style="font-weight: bold; font-size: 18px;">Pagos</span>
              <div>&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
            </div>
            <div class="icon">
              <i class="fas fa-money-bill-alt"></i>
            </div>
            <a href=".#/dashboard/pagos2" class="small-box-footer">
              Ir
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" >
          <div class="small-box bg-secondary">
            <div class="inner" style="min-height: 150px;">
              <h3 class="contador"></h3>
              <span style="font-weight: bold; font-size: 18px;">Reportes</span>
              <div>&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
              <div style="font-size: 14px;">&nbsp;</div>
            </div>
            <div class="icon">
              <i class="fas fa-list"></i>
            </div>
            <a href=".#/dashboard/reporteCartas" class="small-box-footer">
              Ir
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>

      </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      
    </div>
    <!-- /.card-footer-->
  </div>
</div>