#mapa-mapbox {
    background-color: gray;
    top: 0;
    bottom: 0;
    width: 100%;
}

.labelStatus{
    font-size: 20px;;
}

.opcional{
    font-style: italic;
    font-weight: 400;
    color: rgb(111, 111, 111);
    font-size: 14px;
}

/* #map {
    height: 100%;
    width: 100%;
} */


